body{
	background-color: #dadada;
}
p, nav .card h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border:none;
}
/*===NAV SPECIFIC===*/
nav h1{
	color: #fff;
	border:none;
	font-size: 1.5em;
}
nav #home{
	background: #F44444;
}
nav #about{
	background: rgb(239,155,15);
}
nav #games{
	background: #44C444;
}
nav #docs{
	background: #44C4C4;
}
nav #contact{
	background: #35465C;
}
nav #filters{
	background: #663366;
}
#hover-text{
	position: fixed;
	padding: 15px;

}
/*---BOTTOM CONTAINER PROPERTIES---*/
.bottom-container{
	position: absolute;
	bottom: 7px;
	left: 7px;
}
.bottom-container img{
	width: 26px;
	height: 26px;
	vertical-align: middle;
}
.card p.bottom-text{
	padding: 0;
	font-size: 0.7em;
	font-weight: 300;
	display:inline;
}
/*===CARDS===*/
.card{
	position: relative;
	padding: 2px;
	background: #FAF0F0;
	width: 146px;
	height: 230px;
	border-radius: 5px;
	margin: 2px;
	overflow: hidden;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card h1{
	border-bottom: 1px solid #dbd9d4;
	font-size: 1.2em;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-weight: 500;
}
.card p{
	font-size: 0.9em;
}
.card p, .card header{
	padding: 0 5px;
}
.card p span{
	font-weight: bold;
}
.card > .main-view{
	display: block;
	position: relative;
	margin:auto;
	width: 130px;
	height: 130px;
	margin-top: -24px;
	overflow: hidden;
}
.main-view img{
	width: 130px;
	height: 130px;
	object-fit: cover;
}
.card .type-img{
	width: 24px;
	height: 24px;
}
/*===CARD STACK===*/
.card-stack{
	display: inline-flex;
	min-width: 150px;
	height: 230px;
	margin: 2px;
}
.card-stack .card{
	margin: 2px;
	margin-left: 0px;
	margin-right: -120px;
}
.card-stack .card:last-child, .card-stack > .highlightable:hover, .card-stack > .selected{
	margin-right: 0px;
}
/*===HIDDEN FOR FILTERING===*/
.hidden{
<<<<<<< HEAD
	visibility: collapse;
}
.shown{
	visibility: visible;
}
=======
	display: none;
}
/*.shown{
	display: block;
}
.shown.card-stack{
	display: inline-flex;
}*/
>>>>>>> 06325f89449d2bc65e8586b1718fe49ff9cedf37
/*===HIGHLIGHTABLE CARDS===*/
.highlightable{
    transition: all 250ms cubic-bezier(.25,.8,.25,1);
}
.highlightable:hover{
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    border: 1px ridge #777;
}
.highlightable:hover .showmore{
	opacity: 0.6;
}
.highlightable.card:hover{
	margin-top: -5px;
    margin-bottom: 5px;
}
/*===PROGRESS BAR===*/
.progress-bar{
	margin: auto;
	width: 95%;
	height: 15px;
	border: 1px solid #444;
}
.progress{
	background:#44C444;
	height: inherit;
}
.ten{
	width: 10%;
}
.twenty{
	width:20%;
}
.thirty{
	width:30%;
}
/*---QUESTION AND ANSWER PROPERTIES---*/
.answer{
	color: #000;
	background-color: #FFF;
}
.question{
	color: #FFF;
	background-color: #000;
}
.question span{
	width: 100px;
	display: inline-block;
	border-bottom: 1px solid #FFF;
}
.rounded{
	border-radius: 50%;
}
/*---SHOWMORE PROPERTIES---*/
.code{
	background: url("../assets/images/project.svg") 50% 50% no-repeat;
}
.download{
	background: url("../assets/images/download.svg") 50% 50% no-repeat;
}
.info{
	background: url("../assets/images/zoom.svg") 50% 50% no-repeat;
}
.link{
	background: url("../assets/images/link.svg") 50% 50% no-repeat;
}
.showmore{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-size: 75%;
	background-color: #888;
}
/*---SMALLER CARD PROPERTIES---*/
.smaller h1{
	font-size: 1.0em;
}
.smaller p{
	font-size: 0.8em;	
}
.smaller .main-view{
	width:115px;
	height: 115px;
}
.smaller .main-view img{
	width:115px;
	height: 115px;
}
.smaller.main-view{
	margin-top: -10px;
	width:115px;
	height: 115px;
}
/*---TWITTER EXCEPTION---*/
.twitter-background{
	background: #00ACED;
	color: #fff;
}
/*===WRAPPER OF ALL CARDS===*/
.wrapper{
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
	margin: 2px;
}