.tint:before {
    content: "";
    display: block;
    position: absolute;
    float:left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex:none;
    transition: all .25s linear;
}

.tint.project-jam:hover:before{
    background-color: rgba(207, 19, 14, 0.4);
}

.tint.project-class:hover:before{
    background-color: rgba(207,103, 14, 0.4);
}
.tint.project-commercial:hover:before{
    background-color: rgba(11,163, 21, 0.4);
}
.tint.project-personal:hover:before{
    background-color: rgba(  9,120,125, 0.4);
}

.tint:before { background: none; }
