body, html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3d3d3d;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
	width:100%;
	height:100%
}

div {
}

a{
	color: #3d3d3d;
	text-decoration:none;
}
.content{
	width: 62%;
	height: 62%;
	top: 19%;
	left: 19%;
	position: absolute;
	overflow-y:hidden;
	display: flex;
  	flex-direction: column;
}
.content > div.info{
	flex: 1;
	overflow-y:auto;
	text-align:center;
}

.h-flex > a > img {
	width: 3em;
	height:3em;
}

#home-tab {
	background: #e0e4cc;
}

#projects-tab {
	background: #69D2E7;
}

#blog-tab {
	background: #A7DBD8;
}

#contact-tab {
	background: #F38630;
}

#misc-tab {
	background: #FA6900;
}

.tab{
	margin: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
    -webkit-transform-origin: 10.96% 100%;
    -moz-transform-origin: 10.96% 100%;
    -ms-transform-origin: 10.96% 100%;
    -o-transform-origin: 10.96% 100%;
    transform-origin: 10.96% 100%;
    
	-webkit-transition: -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: -moz-transform 0.5s;
	-ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.unselected-0{
	z-index: 1;
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition-delay: 0.5s; /* Safari */
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.unselected-1{
	z-index: 2;
	
    -webkit-transform: translate(23.54%,-100%) rotate(-45deg); /* Chrome, Safari, Opera */
    -moz-transform: translate(23.54%,-100%) rotate(-45deg);
    -ms-transform: translate(23.54%,-100%) rotate(-45deg); /* IE 9 */
    -o-transform: translate(23.54%,-100%) rotate(-45deg);
    transform: translate(23.54%,-100%) rotate(-45deg);
}

.unselected-2{
	z-index: 2;
    
    -webkit-transform: translate(39.04%,-100%) rotate(-45deg); /* Chrome, Safari, Opera */
    -moz-transform: translate(39.04%,-100%) rotate(-45deg);
    -ms-transform: translate(39.04%,-100%) rotate(-45deg); /* IE 9 */
    -o-transform: translate(39.04%,-100%) rotate(-45deg);
    transform: translate(39.04%,-100%) rotate(-45deg);
}

.unselected-3{
	z-index: 2;

    -webkit-transform: translate(54.54%,-100%) rotate(-45deg); /* Chrome, Safari, Opera */
	-moz-transform: translate(54.54%,-100%) rotate(-45deg);
    -ms-transform: translate(54.54%,-100%) rotate(-45deg); /* IE 9 */
	-o-transform: translate(54.54%,-100%) rotate(-45deg);
    transform: translate(54.54%,-100%) rotate(-45deg);
}

.unselected-4{
	z-index: 2;

    -webkit-transform: translate(70.04%,-100%) rotate(-45deg); /* Chrome, Safari, Opera */
    -moz-transform: translate(70.04%,-100%) rotate(-45deg);
    -ms-transform: translate(70.04%,-100%) rotate(-45deg); /* IE 9 */
	-o-transform: translate(70.04%,-100%) rotate(-45deg);
    transform: translate(70.04%,-100%) rotate(-45deg);
}

.tab-icon{
	position: absolute;
	width: 3.875%;
	bottom: 0%;
	left: 0%;
	margin:1%;
}

h1{
	font-size: 36px;
	text-align:center;
}

