.card {
    border-radius: 5px;
    display: flex;                   
    flex-direction: column;
	justify-content: space-between;
}

.card > *{
    padding: 5px 5px;
}

.card > *:last-child{
	margin-top:auto;
    height: 38%;
}