h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none !important;
}

section{
    max-width:95%;
    margin:auto;
    padding-top:20px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
section > *{
    max-width: 50%;
}
img{
    object-fit:contain;
}
article{
    flex:auto;
    margin-left:20px;
}
article > *{
    margin-bottom: 15px;
}
h1{
    font-size: 2em;
    border-bottom: 1px solid #ccc;
}
body{
    background-color: #FAF0F0;
}
.contact-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-container > a{
    margin-right: 10px;
    width:50px;
}
.contact-container img{
    width:100%;
}

@media all and (max-width: 1024px){
    section{
        flex-direction: column;
    }
    section > *{
        max-width: 100%;
        margin-bottom: 20px;
    }
}